.title { color: #FFA500}


a:link {
  color: #FFFF00;
}


a:visited {
  color: #ECE3A1;
}

a:hover {
  color: #adff2f;
}


body {
  background-image: url('https://tsoo-math.github.io/key.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

div {
  background-color: rgba(255, 255, 255, 0);
  padding: 0.25em;
}

section {
background-size: contain
}