.title { color: #FFFFFF;
text-transform: uppercase;
-webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}


a:link {font-size: 30px;
  color: #00FF00;
}


a:visited {
  color: #6495ED;
}

a:hover {
  color: #6495ED;
}


body {
  background-image: url('https://tsoo-math.github.io/newB.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
background-color: #000000;

}

div {
  background-color: rgba(255, 255, 255, 0);
  padding: 0.25em;
}

section {
background-size: contain
}