.title { color: #FF4500 }


a:link {
  color: #FFFF00;
}

body {
  background-image: url('https://tsoo-math.github.io/night.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

div {
  background-color: rgba(255, 255, 255, 0);
  padding: 0.25em;
}